.personas,.ciudadO, .ciudadD, .precio, .cVuelo{
    padding: 5px;
    margin: 5px;  
}
.titulo {
    margin-left: 40%;
}
.empleados{
    background-color: rgb(218, 221, 228);
}
.origen{
    margin-left: 13%;
    padding: 0.5%;
    margin: 0.5;
}
.lidvuelo{
    width: 30px;
    height: 20px;
}
.fechas, .fecha{
    margin-left: 40%;
    padding: 0.5%;
    margin: 0.5;
}
.personas,  .formurario,.precio{
    width: 50%;
    height: 50%;
    margin-left: 40%;
}
.dato1{
    padding: 5px;
    margin: 5px;
    padding:15px;
}
 .buscarVuelos, .cpasajero{
    margin-left: 40%;
}
.miTabla{
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(5, 5, 5);
    border-top-color: rgb(22, 21, 21);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(14, 12, 12);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(20, 18, 18);
    border-left-style: solid;
    border-left-width: 1px;
}