<section class="empleados">
    <html>  
  <div class= "cuerpo">
  <h1 class="titulo">Vuela Tranquilo con Wingo</h1>
  
  
    <div  class = "origen">
       <label class="ciudadO">Ciudad Origen</label>
        <select class="form-select" [(ngModel)]="ciudadOrigen"  (change)="listarIda()">
          <option selected>Seleccionar una ciudad</option>
            <option *ngFor = "let origen of ciudadesOrigen">{{origen}} </option>
        </select>

        <label class="ciudadD">Ciudad destino</label>
         <select class="form" [(ngModel)]="ciudadDestino" >
          <option selected>Seleccionar una ciudad</option>
             <option *ngFor = "let destinos of ciudadesDestino">{{destinos}} </option>
         </select>  
         <button (click)="SeleccionarTipoVueloIda()" class="cVuelo"> Vuelo Ida (OW) </button>
         <button (click)="SeleccionarTipoVueloIdaRegreso()" class="cVuelo"> Vuelo Ida y Regreso (RT) </button>
    </div>

        <div class="fechas">
          <label class="fechaO"> Fecha ida  </label>
          <input type="date" [(ngModel)]="fechaIda">
        </div>
        <div *ngIf="vueloIdaRegreso" class="fechas">
          <label class="fechaO"> Fecha regreso  </label>
          <input type="date" [(ngModel)]="fechaRegreso">
        </div>

        
        <div>
          <div class="personas">
            <label class="adulto"> Numero de adultos </label>
            <input type="text" class="lidvuelo" id="vuelo" [(ngModel)]="cantidadAdultos">
          </div>
          <div class="personas">
            <label class="niño"> Numero de niños </label>
            <input type="text" class="lidvuelo" id="vuelo" [(ngModel)]="cantidadNinos">
          </div>
          <div class="personas">
            <label class="infantes"> Numero de infantes </label>
            <input type="text" class="lidvuelo" id="vuelo" [(ngModel)]="cantidadInfantes">
          </div>
        </div>

      <div class="vuelos">
        <button class="buscarVuelos" (click)="listarVuelos()" > Buscar vuelos </button>
      </div>

      <div class="tabla">
        <h1 class="titulo"> Datos vuelos Ida</h1>
        <table width="100%" class="miTabla">
         <tr>
           <th> Hora vuelo </th>
           <th> Duracion </th>
           <th> Tipo Vuelo </th>
           <th> Precio Persona </th>
           <th> Seleccionar Vuelo </th>
         </tr>
         <ng-container *ngFor="let vuelo of vuelosIda">
         <tr>
           <th>{{vuelo.hora}}</th>
           <th>{{vuelo.duracion}}</th>
           <th>{{vuelo.tipoVuelo}}</th>
           <th>{{vuelo.precio}}</th>
           <th>
              <button (click)="seleccionarVueloIda(vuelo.idVuelo)" class="buscarVuelos"> selecionar vuelo </button>
           </th>
          </tr>
         </ng-container>
        </table>
       </div>
       
       <div class="tabla" *ngIf="vueloIdaRegreso">
        <h1 class="titulo"> Datos vuelos regreso</h1>
        <table width="100%" class="miTabla">
         <tr>
           <th> Hora vuelo </th>
           <th> Duracion </th>
           <th> Tipo Vuelo </th>
           <th> Precio Persona </th>
           <th> Seleccionar Vuelo</th>
         </tr>
         <ng-container *ngFor="let vueloR of vuelosRegreso">
         <tr>
           <th>{{vueloR.hora}}</th>
           <th>{{vueloR.duracion}}</th>
           <th>{{vueloR.tipoVuelo}}</th>
           <th>{{vueloR.precio}}</th>
           <th>
              <button (click)="seleccionarVueloRegreso(vueloR.idVuelo)" class="buscarVuelos"> selecionar vuelo </button>
           </th>
          </tr>
         </ng-container>
        </table>
       </div>


       <div *ngIf="vueloSeleccionadoIda">
          <div class="personas">
            <span class="input-g-t" >Total a pagar</span>
            <input type="text" class="form-lidvuelo" value="$ {{precioTotalViajes}}" aria-label="Total a pagar"
                aria-describedby="basic-addon1">
          </div>

          <div class="personas">
            <span class="input-g-t" > Precio de cada tiquete ida </span>
            <input type="text" class="form-control" value="$ {{vueloSeleccionadoIda.precio}}" aria-label="Total a pagar"
                aria-describedby="basic-addon1">
          </div>
         
         <div *ngIf="vueloIdaRegreso">
          <div class="personas">
            <span class="input-g-t" > Precio de cada tiquete vuelta </span>
            <input type="text" class="form-control" value="$ {{vueloSeleccionadoRegreso.precio}}" aria-label="Total a pagar"
                aria-describedby="basic-addon1">
          </div>
         </div>

         <div> 
          <button (click)="pedirDatosPasajeros()" class="buscarVuelos"> Continuar </button>
        </div>
       </div>


       <div *ngIf="habilitarDatosUsuario" class="formurario">
        <h1> Datos Pasajero</h1>
        <div class="dato1">
          <label class="cedula"> cedula </label>
          <input type="text" class="lcedula"  [(ngModel)]="cedula">
        </div>

        <div class="dato1">
            <button class="bus" (click)="buscarPasajero()" > buscar Pasajero </button>
        </div> 

         <div class="dato1"> 
          <label class="nPasaporte"> Id pasaporte </label>
          <input type="text" class="lnPasaporte"  [(ngModel)]="pasaporte">
        </div>
    
        <div class="dato1">
          <label class="nombre"> Nombre </label>
          <input type="text" class="lnombre"  [(ngModel)]="nombre">
        </div>
    
        <div class="dato1">
          <label class="apellido"> Apellido </label>
          <input type="text" class="lapellido"  [(ngModel)]="apellido">
        </div>
    
        <div class="dato1">
          <label class="telefono"> Telefono </label>
          <input type="text" class="ltelefono"  [(ngModel)]="telefono">
        </div>
    
        <div class="dato1">
          <label class="correo"> Correo </label>
          <input type="text" class="lcorreo"  [(ngModel)]="correo">
        </div>
    
        <div class="dato1">
          <label class="edad"> Edad </label>
          <input type="text" class="ledad"  [(ngModel)]="edad">
        </div>
    
        <div *ngIf="requiereVisa">
          <label class="visa"> Visa </label>
          <input type="date" [(ngModel)]="visa">
          </div>

          <div  class = "dato1">
            <label class="tipoPasajero">Tipo de pasajero</label>
             <select class="form-select" [(ngModel)]="tipoViajero">
               <option selected>Seleccionar un tipo</option>
                 <option *ngFor = "let tipo of tiposPjs">{{tipo}} </option>
             </select>
          </div>
        <div> 
          <button (click)="registrarPasajero()" class="vuelos"> Continuar </button>
        </div>   
      </div>

      <div *ngIf="habilitarDescuentos">
      <div class="tabla">
        <h1 class="titulo"> Informacion descuentos</h1>
        <table width="100%" class="miTabla">
         <tr>
           <th> Nombre Pasajero </th>
           <th> Cedula </th>
           <th>  Frecuencia viajero</th>
           <th> Descuento </th>
           <th> Precio Final ida</th>
           <th> Precio Final Regreso</th>
         </tr>
         <ng-container *ngFor="let pasajero of datosPasajeros">
         <tr>
           <th>{{pasajero.nombre}}</th>
           <th>{{pasajero.cedula}}</th>
           <th>{{pasajero.frecuente}}</th>
           <th>{{pasajero.descuento}}%</th>
           <th>{{pasajero.precioIda}}</th>
           <th>{{pasajero.precioRegreso}}</th>
          </tr>
         </ng-container>
        </table>
       </div>

        <div> 
          <button (click)="comprarViaje()" class="buscarVuelos"> Comprar </button>
        </div>
      </div>
        <div> 
          <button (click)="listarReservas()" class="buscarVuelos"> Listar Reservas </button>
        </div>

        <div *ngIf="habilitarReservas">
        <div class="tabla">
          <h1 class="titulo"> Datos de Reserva</h1>
          <table width="100%" class="miTabla">
           <tr>
             <th> Nombre Pasajero </th>
             <th> Apellido Pasajero </th>
             <th>  Origen </th>
             <th> Fecha VueloIda </th>
             <th> Tipo Vuelo Ida</th>
             <th> Destino</th>
             <th> Fecha Regreso</th>
             <th> Tipo vuelo Regreso</th>
           </tr>
           <ng-container *ngFor="let reserva of listReserva">
           <tr>
             <th>{{reserva.nombrePasajero}}</th>
             <th>{{reserva.apellidoPasajero}}</th>
             <th>{{reserva.origen}}</th>
             <th>{{reserva.fechaIda}}%</th>
             <th>{{reserva.tipoVueloIda}}</th>
             <th>{{reserva.destino}}</th>
             <th>{{reserva.fechaRegreso}}</th>
             <th>{{reserva.tipoVueloRegreso}}</th>
            </tr>
           </ng-container>
          </table>
         </div>
        </div>
        
      </div>
    </html>
</section>