.titulo{
    margin-left: 40%;
}
 .seleccionarVuelo{
    padding: 5px;
    margin: 5px;
    width: 150px;
    margin-left: 40%;
}
.miTabla{
    border: 1px solid grey;
    border-collapse: collapse;
}
.precios{
    padding: 5px;
    width: 180px;
    margin-left: 40%;
}
.input-g-t{
    padding: 5px;
}