 .comprarViaje{
    padding: 5px;
    margin: 5px;
    width: 150px;
    margin-left: 40%;
}
.titulo{
    margin-left: 40%;
}
.miTabla{
    border-bottom: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-style:solid ; 
    border-bottom-color: rgb(5, 5, 5);
    border-top-color: rgb(22, 21, 21);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(14, 12, 12);
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: rgb(20, 18, 18);
    border-left-style: solid;
    border-left-width: 1px;
}