.personas,.ciudadO, .ciudadD, .precio, .cVuelo{
    padding: 5px;
    margin: 10px;  
    width: 180px;
}
.titulo{
    margin: 1%;
    padding: 5px;
    margin-left: 30%;
}
.form-select, .form{
    width: 180px;
    height: 30px;
}
.fechaO, .fechaD{
    width: 110px;
    height: 20px;
    margin-left: 70px;
}
.pag{
    background-color: rgb(189, 234, 245);
    width: 100%;
    height: 100%;
    /* height: 690px; */
}
.origen{
    margin-left: 13%;
    padding: 0.5%;
    margin: 0.5;
}
.lidvuelo, .Nniños{
    width: 110px;
    height: 20px;
    margin-left: 5px;
}
.fechas, .fecha{
    margin-left: 40%;
}
.personas,  .formurario,.precio{
    width: 50%;
    height: 50%;
    margin-left: 40%;
}
.dato1{
    padding: 5px;
    margin: 5px;
    padding:15px;
}
 .buscarVuelos, .cpasajero{
    padding: 5px;
    margin: 5px;
    width: 150px;
    margin-left: 40%;
   
   
}
.miTabla{
    border: 1px solid grey;
    border-collapse: collapse;
}
.Nniños{
    margin-left: 16px;
}